<% provide(:title, 'Discover') %>

<div class="col-sm-12">
  <div class="pi-masonry">

    <% @trips.each_with_index do |trip, index| %>
        <div class="post">
          <div class="post-media">
          <% if index == 0 %>
            <div class="sticky-icon">
              <i class="fa fa-thumb-tack"></i>
            </div>
          <% end %>
            <div class="image-wrap">
              <%= index == 0 ? image_tag(trip.cover(true)) : image_tag(trip.cover(false)) %>
            </div>
          </div>
          <div class="post-body">
            <div class="post-title">
              <h2><%= trip.name %></h2>
            </div>
            <div class="post-meta">
              <div class="post-location">
                <i class="fa fa-map-marker"></i>
                <span class="count"><%= trip.locations.count %></span>
              </div>
              <div class="post-like">
                <i class="fa fa-heart-o"></i>
                <span class="count"><%= trip.likes %></span>
              </div>
              <div class="post-comment">
                <i class="fa fa-comment-o"></i>
                <span class="count">n/a</span>
              </div>
            <% if index == 0 %>
              <div class="post-view">
                <i class="fa fa-eye"></i>
                <span class="count">n/a</span>
              </div>
            <% end %>
            </div>
            <div class="post-date">
              <span>March . 8 . 2015</span>
            </div>
            <h6><%= trip.users_list %></h6>
            <div class="post-entry">
              <p><%= trip.locations_list.to_s.html_safe %></p>
            </div>
            <div class="post-link">
              <%= link_to 'View details &raquo;'.html_safe, user_trip_path(trip.users.first, trip), class: "btn btn-default", role: "button"%>
            </div>
          </div>
        </div>
     <% end %>

  </div>
</div>
