<% provide(:title, 'Home') %>

<div class="col-sm-12 blog-main">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
  </div>
  <div class="row">
    <% @trips.each do |trip| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="post">
          <div class="post-media">
            <div class="image-wrap">
              <%= image_tag(trip.cover) %>
            </div>
          </div>
          <div class="post-body">
            <div class="post-title">
              <h2><%= trip.name %></h2>
            </div>
            <div class="post-meta">
              <div class="post-view">
                <i class="fa fa-eye"></i>
                <span class="count">1235</span>
              </div>
              <div class="post-like">
                <i class="fa fa-heart-o"></i>
                <span class="count"><%= trip.likes %></span>
              </div>
              <div class="post-comment">
                <i class="fa fa-comment-o"></i>
                <span class="count">50</span>
              </div>
            </div>
            <div class="post-date">
              <span>March . 8 . 2015</span>
            </div>
            <h6><%= trip.users_str %></h6>
            <div class="post-entry">
              <p><%= trip.locations_str %></p>
            </div>
            <div class="post-link">
              <%= link_to 'View details &raquo;'.html_safe, user_trip_path(trip.users.first, trip), class: "btn btn-default", role: "button"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
