<% provide(:title, 'Edit Trip') %>

<div class="blog-post">
  <div class="page-header">
    <h2>Edit Trip</h2>
  </div>

  <div class="row">
    <%= form_for([@user, @trip], html: { class:"form-horizontal" }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :name, nil, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div id="existing-locations">
      <% counter = 0 %>
      <%= f.fields_for :locations do |location| %>
        <% counter += 1 %>
        <div class="form-group">
          <%= location.label :address, "Location #{counter}" , class: "col-sm-3 control-label" %>
          <div class="col-sm-8">
            <%= location.text_field :address, {class: "form-control"} %>
          </div>
        </div>
      <% end %>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
          <%= f.submit "Update Trip", class: "btn btn-large btn-primary" %>
          <button type="button" id="addLocationButton" class="btn btn-info">Add Location</button>
          <%= link_to "Cancel", user_path(@user), class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
