<% if signed_in? && current_page?(user_path(current_user)) %>
  <!-- PHOTO GRID -->
  <section class="featured">
    <div id="ri-grid" class="ri-grid ri-grid-size-3">
      <ul class="pi-thumbs">

      <% current_user.grid_photos.each do |photo| %>
        <li>
          <%= link_to("#") do %>
            <%= image_tag(photo) %>
            <div class="caption">
              <div class="inner">
                <i class="pi-plus"></i>
                <h4>TRIP NAME</h4>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>

      </ul>
    </div>
    <%= link_to(new_user_trip_path(current_user), {class: 'view-all'}) do %>
      <i class="pi-plus"></i>
      <span>ADD A TRIP</span>
    <% end %>
  </section>
  <!-- /PHOTO GRID -->

<% else %>

  <section class="blog-heading text-center">
    <div class="container">
      <h1 class="text-uppercase">Where have you been?</h1>
      <div class="description">
        <p>Track your travels and share them with your family and friends!</p>
      </div>
    </div>
  </section>

  <% if current_page?(discover_path) %>
    <!-- SEARCH -->
    <section class="search-section">
      <div class="container">
        <div class="tb">
          <div class="tb-cell">
            <div class="text-content">
              <h2>Discover all the amazing places in the world</h2>
              <p>Search through our thousands of trips!</p>
            </div>
          </div>
          <div class="tb-cell">
            <div class="search-box">
              <%= form_tag(discover_path, method: "get", id: "search-form") do %>
              <div class="input-group">
                <%= text_field_tag :keywords, nil, class: "form-control", maxlength: 100, placeholder:"Places, locations, attractions" %>
                <span class="input-group-btn">
                  <%= submit_tag "SEARCH", name: nil, class: "btn btn-primary" %>
                </span>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /SEARCH -->
  <% end %>

<% end %>